#class1 {
            
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #f000f0;
    
   }

.header1
{
    text-align: center; 
    padding: auto; 
    margin: auto;
}

#box{
    position: fixed;
    margin-top: 5px;;
    display: inline-block;
    color: blue;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}